// typography

.heading {
  font-family: $primary-font;
  color: $black;

  &--white {
    color: $white;
  }
  &--light {
    font-weight: 400;
  }

  &--med {
    font-weight: 700;
  }

  &--bold {
    font-weight: 900;
  }
}

// other text
.body-text {
  font-family: $primary-font;
  color: $light-gray;

  &--light {
    font-weight: 400;
  }

  &--med {
    font-weight: 700;
  }

  &--bold {
    font-weight: 900;
  }

  &--black {
    color: $black;
  }
}
