// <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Oswald:wght@300;400;600&family=Pacifico&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

// <link href="https://fonts.googleapis.com/css?family=Chewy|Nunito:400,400i,600,700,800" rel="stylesheet">

// fonts
$primary-font: 'Roboto', sans-serif; // 400,700,900

// colors
$primary-color: #1c8aff;
$secondary-color: #0056b3;
$dark-gray: #383131;
$light-gray: #757575;
$light-white: #dedede;

$black: #333;
$white: #fff;
