.about {
  padding: 6rem 1rem 15rem;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    height: 340px;
    bottom: -261px;
    background-color: $light-white;
    -webkit-clip-path: polygon(0 37.84%, 99.9% 24.26%, 105% 0%, 0px 15%);
    clip-path: polygon(0 37.84%, 99.9% 24.26%, 105% 0%, 0px 15%);
  }

  &__heading {
    position: relative;
    text-transform: uppercase;

    &::after {
      content: '';
      position: absolute;
      width: 5%;
      height: 3px;
      background-color: #1c8aff;
      bottom: -13px;
      transform: translate(-50%, -50%);
      left: 50%;
    }

    &:hover::after {
      width: 10%;
      transition: all 0.6s ease-out;
    }
  }

  &__content {
  }

  &__icon {
    color: $primary-color;
  }

  &__heading-sub {
    text-transform: uppercase;
  }

  &__text {
    line-height: 1.7rem;
    font-size: 1.4rem;
    color: $dark-gray;
  }
}
