.header {
  &__logo {
    font-size: 2.5rem;
    font-weight: bold;
    color: $white;
  }

  &__toggler {
    color: $secondary-color;
  }

  &__toggler-icon {
    vertical-align: baseline;
  }

  &__collapse {
    @include media-breakpoint-down(md) {
      background-color: $light-white;
      margin-top: 1rem;
      padding-left: 1rem;
    }
  }

  &__navbar.scroll-js {
    background: rgba($primary-color, 0.85);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  }

  &__nav-link.navbarScroll {
    color: $white;
    @include media-breakpoint-down(md) {
      color: $dark-gray;
    }
  }
  &__nav-link {
    margin-left: 1.5rem;
    color: $dark-gray;
    font-size: 1.5rem;

    // to solve issuse of hover default of bootstrap
    // give it color of normal link
    &:hover {
      color: $dark-gray;
    }

    &:focus {
      color: $secondary-color;
    }

    // to solve issue of 2 links are active
    // due to clicking a link then scrolling up or down
    // hover effect in medium, small screens
    // to prevent hover effect to apply for medium, small screens
    @include media-breakpoint-up(xl) {
      &:hover {
        color: $secondary-color;
      }
    }

    @include media-breakpoint-down(md) {
      color: $dark-gray;
      font-size: 2rem;
      font-weight: 800;
    }
  }

  // needed for scrollspy to work
  // if you will not use bg-dark navbar-dark for navbar
  &__nav-link.active {
    color: $secondary-color;
    font-weight: 800;
  }
}
