.hero {
  padding-bottom: 6rem;
  background-image: linear-gradient(to right, rgba(0, 172, 217, 0.62), rgba(226, 239, 232, 0.52)),
    url('../../images/hero/hero_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  padding-top: 9rem;
  position: relative;

  // &::after {
  //   content: '';
  //   position: absolute;
  //   width: 100%;
  //   height: 50px;
  //   background-color: #ffffff;
  //   transform: rotate(-2deg);
  //   transform-origin: bottom right;
  //   bottom: 0;
  //   right: 0;
  //   left: 0;
  // }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 393px;
    bottom: -307px;
    left: 0;
    background-color: #ffffff;
    -webkit-clip-path: polygon(0 37.84%, 99.9% 24.26%, 105% 0%, 0px 15%);
    clip-path: polygon(0 37.84%, 99.9% 24.26%, 105% 0%, 0px 15%);
  }

  &__heading {
    font-size: 5rem;
    margin-bottom: 6rem;
  }

  &__text {
    font-size: 1.5rem;
    color: $dark-gray;
  }

  &__img {
    position: absolute;
    right: 0;
    bottom: -50px;
    z-index: 1;
  }

  &__btns {
    margin: 3rem 0 6rem;
  }
}
